# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library/Collab/CollabSnapshot_78ba0e7a-30df-4663-8ea4-52a7cda0ae96.txt
.vs/3D Multiplayer Fighter/v14/.suo
Library/Collab/CollabSnapshot_78ba0e7a-30df-4663-8ea4-52a7cda0ae96.txt
Library/metadata/00/0000000000000000a100000000000000
Library/metadata/dc/dceb6383b8ab3d24c89d19b908f232a7
Library/shadercompiler-UnityShaderCompiler.exe0.log
